@charset "UTF-8";

body/* 全体的な設定 */
{
	background: #151515 url('fugaku.png') no-repeat fixed left bottom;
	background-size: cover;
	color: #fff;/*全体の文字色*/
	font-family:"Hiragino Kaku Gothic ProN";/*フォント*/
	margin: 0;/*位置*/
	text-align:center;
}
a img:hover {opacity:0.8;}/*矢印が透明に*/

header,section/* ヘッダーとセクションの設定 */
{
  margin:0;
	width: 100%;/*画面の横幅*/
	height: 100vh;/*画面の高さ*/
	display:table;
	border-spacing:15vmin 0;
  text-align:center;
}

header div#group,section div.scGroup/* よくわかんないけど大切なやつ */
{
  display: table-cell;
  vertical-align: middle;
}

header div#group img,section div.scGroup img/* 矢印の位置 */
{
	margin:1em;
	width:40px;
	height:auto;
}

header {background-color: rgba(0,0,0,0.5);}/* ヘッダー背景を薄く黒く */
header div#group h1 {font-size:500%; margin:200px auto auto;}/* ヘッダーのタイトル設定 */
header div#group p {font-size:100%; font-weight:bolder;}/* ヘッダーのテキスト設定 */


section#sc1 {background:#0099FF;color:#000;}/* あいさつの設定 */
section#sc2 {background: #330099; color:#fff;}/* じこしょうかいの設定 */
section#sc3 {background: #990033;color:#fff;}/* りんくの設定 */
section#space/* すきまの設定 */
{
	background-color: rgba(0,0,0,0.4);/* 若干薄く */
	background: #151515 url('nami3.png') no-repeat fixed left bottom;
  margin:0;
	width: 100%;/*画面の横幅*/
	height: 10vh;/*画面の高さ*/
	display:table;
  text-align:center;
	color : #000;
}
section#last/* さいごのやつの設定 */
{
	background-color: rgba(0,40,0,0.3);/* 若干緑で薄く */
	margin:0;
	width: 100%;/*画面の横幅*/
	height: 94vh;/*画面の高さ*/
	display:table;
	text-align:center;
	color : #000;
}

section a/* 文字を白に */
{
	color: inherit;
}

section a img#buba/* ブーバーの画像の設定 */
{
	width :100px;
	border-radius: 50%;/* まん丸にする */
}

section a img#link/* リンクの画像の設定 */
{
	width :200px;
	border-radius: 20%;/* ちょっと角を取る */
}

figure/* りんくの画像をキャフションエフェクト */
{
	position: relative;
	overflow: hidden;
	float: left;
	margin-left: 70px;
}
figcaption
{
	position: absolute;
	top: 16px;
	left: 16px;
	z-index: 2;
	width: 200px;
	height: 200px;
	background: rgba(0,0,0,.6);
	-webkit-transition: .3s;
	transition: .3s;
	opacity: 0;
	border-radius: 20%;
}
figure:hover figcaption
{
	opacity: 1;
}

section div.scGroup h1.ttl {font-size:170%; margin:0 auto;}/* セクションの文字設定(タイトル)*/
section div.scGroup p {margin:1em auto; text-align:center}/* セクションの文字設定(テキスト) */
section div#page h1 /* さいごのやつの設定 */
{
	font-size:400%;
	font-weight:500;
	margin:380px
	auto auto 450px;
	color:#00008B
}

footer/* フッターの設定 */
{
	background-color: rgba(0,0,0,0.5);
	text-align:center;
	margin:0;
	padding:5px;
	font-size:80%;
}

@media only screen and (max-width: 6px)/* よくわからんけどたいせつなやつ2 */
{
	html {-webkit-text-size-adjust:100%;}
	body {font-size:90%;}
}
