@charset "UTF-8";
body
{
	background: #151515 url('fugaku.jpg') no-repeat fixed left bottom;
	color: #fff;/*全体の文字色*/
	font-family:"Hiragino Kaku Gothic ProN";/*フォント*/
	margin: 0;/*位置*/
}
a img:hover {opacity:0.8;}/*矢印が透明に*/


header,section
{
  margin:0;
	width: 100%;/*画面の横幅*/
	height: 90vh;/*画面の高さ*/
	display:table;
  text-align:center;
}
header div#group,
section div.scGroup
{
  display: table-cell;
  vertical-align: middle;
}


header div#group img,
section div.scGroup img,
footer img {margin:1em; width:40px; height:auto;}


header {background-color: rgba(0,0,0,0.5);}
header div#group h1 {font-size:500%; margin:0 auto;}
header div#group p {font-size:100%; font-weight:bolder;}


section {color: #666;}
section#sc1 {background:#0099FF;}
section#sc2 {background: #330099; color:#fff;}
section#sc3 {background: #990033;color:#fff}
section#x{
  margin:0;
	width: 100%;/*画面の横幅*/
	height: 30vh;/*画面の高さ*/
	display:table;
  text-align:center;
	color : #fff;
}

figure{width: 70px;height:100px;}

section div.scGroup h1.ttl {font-size:170%; margin:0 auto;}
section div.scGroup p {margin:1em auto; text-align:center}
footer {text-align:center; margin:1px; padding:5px; font-size:80%;}

@media only screen and (max-width: 6px) {
html {-webkit-text-size-adjust:100%;}
body {font-size:90%;}
}
